:root {
  --bg-primary: white;
  --bg-sec: #11468f;
  --bg-3: #183d3d;
  --bg-3-sec: #96b6c5;
  --bg-border: #a8a5a5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
}

.container-title {
  color: var(--bg-sec);
  width: 600px;
  font-family: noto sans;
  margin: 80px auto 0px 100px;
  height: 25vh;
}

.title-judul {
  font-weight: 900;
  font-size: 75px;
}

.title-para {
  font-weight: 600;
  font-size: 30px;
}
.container-form {
  display: flex;
  height: 55vh;
  margin: 25px 0;
}

.container-form td,
button,
option,
input,
select {
  font-size: 20px;
  border-radius: 5px;
  font-family: lora;
  margin: 2px;
}

.container-form-1 {
  border: solid 3px var(--bg-border);
  width: 450px;
  padding: 10px 10px 20px 10px;
  margin: 0px 140px 0px 100px;
}

.container-form-1 button {
  padding: 2px;
  background-color: rgba(216, 211, 211, 0.688);
  border: solid 2px var(--bg-border);
  border-radius: 5px;
}

.container-form-2 {
  border: solid 3px var(--bg-border);
  width: 450px;
  padding: 10px 10px 20px 10px;
  margin: 0px 140px 0px 100px;
}
.container-form-2 p {
  font-family: lora;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.container-form-2 button {
  padding: 2px;
  background-color: rgba(216, 211, 211, 0.688);
  border: solid 2px var(--bg-border);
}

.image-bot-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -99;
}

.image-center-right {
  position: absolute;
  right: 70px;
  bottom: 50vh;
  z-index: -99;
}

.image-top-right {
  position: absolute;
  right: 90px;
  top: 40px;
  z-index: -99;
}

.image-bot-left {
  position: absolute;
  left: 5px;
  bottom: 0px;
  z-index: -99;
}
.image-top-left {
  position: absolute;
  left: 200px;
  top: 0px;
  z-index: -99;
}

@media (max-width: 1030px) {
  .image-top-right,
  .image-center-right,
  .image-bot-right,
  .image-bot-left {
    display: none;
  }
  .container-form {
    display: flex;
    flex-direction: column;
  }
  .container-form-2,
  .container-form-1 {
    margin: 50px 140px 0px 100px;
  }
}
